body
{
  color: white;
  background: linear-gradient(rgb(255, 89, 89), rgb(255, 180, 42),rgb(255, 255, 41),rgb(28, 255, 28),aqua,rgb(149, 0, 255),violet);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
h3
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.copy_right_footer {
  position: fixed;
  color: rgb(131, 131, 131);
  bottom: 0;
  width: 100%;
  background-color: rgb(224, 224, 224);
  line-height: 3;
  text-align: center;
  text-shadow: 5px 5px 5px grey;
}